body{
    background-color: rgb(253, 232, 207);
}

img{
    width: 70%;
    height: 70%;
    border-radius: 10%;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.pro-desc{
    background-color: rgb(131, 96, 96);
    display: flex;
    align-items: center;
    width: 50%;
    margin: auto;
    border-bottom-right-radius: 15%;
    border-style : outset;
    border-top-left-radius: 15%;
    border-color: burlywood;
}
.product-image{
    margin: auto;
    width: 100%;
    padding-left: 10%;
}
.product-details{
    padding-right: 5%;
    color: white;
}

