button{
    background-color: green;
    color: aliceblue;
}

p{
    font-size:large;
    font-weight:700;
    font-family: sans-serif;
    font-style: normal;
    color: rgb(44, 102, 104);
}

.container{
    margin: auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    pad: 5%;
    border: 2px solid green;
    padding: 2%;
    background-color: rgb(200, 213, 214);
    /* padding-top: 5%; */
}

.box1{
    text-align: left;
    padding-left: 20%;
}
.box2{
    text-align: left;
    padding-left: 20%;
}