li{
    list-style: none;
}
 li::before {
    content: '★ ';
    color: #FFA500;
    margin-right: 10px;
}
nav{
    background-color: rgb(236, 220, 255);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20%;
    padding-bottom: 20%;
}

#one{
    background-color: rgb(207, 227, 245);
    font-size: 25px;
}

#two{
    background-color: rgb(252, 228, 192);
    font-size: 25px;
}

#three{
    background-color: rgb(244, 244, 188);
    font-size: 25px;
}